{% extends "layouts/admin.twig" %}

{% block content %}
<div id="resume-header" class="row">
  <div class="col-3">
    <img id="profile-picture" src="/me.png" alt="">
  </div>
  <div class="col">
    <h1>{{ name }}</h1>
    <h2>Full Stack Developer</h2>
    <ul>
      <li>Mail: <a href="mailto:admin@example.com">admin@example.com</a></li>
      <li>Phone: 1234567890</li>
      <li>LinkedIn: <a href="https://linkedin.com/in/mineitoshio" target="_blank">/in/mineitoshio</a></li>
      <li>Twitter: <a href="https://twitter.com/MineiToshio" target="_blank">@mineitoshio</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2 class="border-bottom-gray" >Carrer Summary</h2>
    <p>
      A focused Marketing graduate with a 2:1 degree, specialising in Digital Marketing. Possesses relevant professional experience gained during two internships with multinational businesses, acquiring valuable insight into developing and implementing digital marketing campaigns. Able to balance multiple competing priorities, having worked part-time for three years whilst still achieving strict deadlines for submission of assignments. Aiming to secure a place on a graduate scheme, which will provide commercial exposure and opportunities for progression.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <div>
      <h3 class="border-bottom-gray" >Work Experience</h3>
      <ul>
        {% for job in jobs %}
          <li class="work-position">
            <h5>{{ job.title }}</h5>
            <p>{{ job.description }}</p>
            <strong>Achievements:</strong>
            <ul>
              <li>Raised the sales in 20%.</li>
              <li>Reduced costs in 10%.</li>
              <li>Employee of the month.</li>
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-3">
    <h3 class="border-bottom-gray" >Skills & Tools</h3>
    <h4>Backend</h4>
    <ul>
      <li>PHP</li>
    </ul>
    <h4>Frontend</h4>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
    </ul>
    <h4>Frameworks</h4>
    <ul>
      <li>Laravel</li>
      <li>Bootstrap</li>
    </ul>
    <h3 class="border-bottom-gray" >Languages</h3>
    <ul>
      <li>Spanish</li>
      <li>English</li>
    </ul>
  </div>
</div>
{% endblock %}